    .contenedor-contacto {
        max-width: 860px;
        margin: 0 auto;
        padding: 64px 32px 0;
        display: grid;
        grid-template-columns: 1fr 340px;
        gap: 32px;
        align-items: start;
    }

    .encabezado {
     grid-column: 1 / span 2;  
    }

    .etiqueta {
        font-size: 11px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: var(--acento);
        margin-bottom: 12px;
       
    }

    .titulo {
        font-family: 'Lora', serif;
        font-size: 40px;
        font-weight: 400;
        color: var(--blanco);
        margin-bottom: 8px;
        
    }

    .descripcion {
        font-size: 15px;
        color: var(--gris-claro);
        margin-bottom: 0;
    }

    /*
       Formulario
     */
    .formulario {
        background-color: var(--gris-oscuro);
        border: 1px solid var(--borde);
        border-radius: 4px;
        padding: 36px;
    }

    label {
        display: block;
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: var(--gris-claro);
        margin-bottom: 8px;
        margin-top: 24px;
    }

    input,
    textarea,
    select {
        width: 100%;
        padding: 12px 16px;
        background-color: var(--negro);
        border: 1px solid var(--borde);
        border-radius: 4px;
        font-family: 'Lora', serif;
        font-size: 14px;
        color: var(--blanco);
    }

    input:focus,
    textarea:focus,
    select:focus {
        outline: none;
        border-color: var(--acento);
    }

    select option {
        background-color: var(--gris-oscuro);
    }

    textarea {
        height: 130px;
        resize: vertical;
    }

   

    /*
       Informacion
     */
    .informacion {
        background-color: var(--gris-oscuro);
        border: 1px solid var(--borde);
        border-radius: 4px;
        padding: 36px;
    }

    .informacion h2 {
        font-family: 'Lora', serif;
        font-size: 22px;
        font-weight: 400;
        color: var(--blanco);
        margin-bottom: 28px;
    }

    .dato {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        margin-bottom: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid var(--borde);
    }

    .dato:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }

    .dato-texto p {
        font-size: 12px;
        letter-spacing: 2px;
        color: var(--gris-claro);
        margin-bottom: 4px;
    }

    .dato-texto a {
        text-decoration: none;
        font-size: 14px;
        color: var(--blanco);
    }

